.page-header
  %h1
    =@person.name
    -if @person.origin_name.present?
      %small=@person.origin_name
=render 'menu'
.row
  .col-md-3
    -if @person.avatar?
      =image_tag @person.avatar.url(:medium), alt: @person.name, class: 'img-responsive'
    %br.text-center
      %i.text-muted
        Просмотров:
        =@person.impressionist_count(:filter => :all)
  .col-md-9
    -if @person.adres
      %a{:href => @person.adres, :target => "_blank"}
        Официальная страница
    -if @person.birthday
      %dl
        %dt=Person.human_attribute_name(:birthday)
        %dd
          =l(@person.birthday, format: :long)
          %span.text-muted
            =surround ?(,?) do
              =@person.human_age
            %i
              =@person.zod[0]
        -if @person.country
          %dt=Film.human_attribute_name(:country)
          %dd=link_to @person.country.name,@person.country
    -if @person.films.any?
      %i.text-muted
        -Film.gen(@person).each do |i|
          =i.genre.name
        %br
    -if @person.produced_films.any?
      %h3=Film.human_attribute_name(:director_id)
      .list-group
        -@person.produced_films.each do |film|
          =render 'films/film', film: film
    -if @person.films.any?
      Фильмы(года):
      -# =Film.premier(@person.id).year
      -# —
      -# -if Film.premier(@person.id).year != Film.latest(@person.id).year
      -#   =Film.latest(@person.id).year
      -# -else
      -#   ?...
      =@person.films.order(:year).first.year
      —
      -if @person.films.order(:year).first.year != @person.films.order(:year).last.year
        =@person.films.order(:year).last.year
      -else
        ?...
      %h3=Person.human_attribute_name(:films)
      .list-group
        -@person.films.each do |film|
          =render 'films/film', film: film
